{% extends "myswsite/layout.html" %}

{% block content %}
    <div id="head">
        <div>Idea Detail Update</div>
        <div>아이디어 세부내용 수정 페이지 입니다. 아이디어를 구체화하거나 내용을 변경해 보아요.</div>
    </div>

    <div id="idea-form">
        <form action="" method="post" class="form_css" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-label">
                    >> {{ field.label }}
                </div>
                <div class"form-field">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}