<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My SW Idea Management</title>
        <link rel="stylesheet" href = "{% static 'css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/devtool_list.css' %}" >
        <link rel="stylesheet" href="{% static 'css/devtool_read.css' %}" >
        <link rel="stylesheet" href="{% static 'css/idea_list.css' %}" >
        <link rel="stylesheet" href="{% static 'css/idea_read.css' %}" >
        {% block headAppend %}
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="title">
                <a href="{% url 'myswsite:idea_list' %}">
                    My SW Idea Manage
                </a>
            </div>
            <div id="nav">
                <ul>
                    <li><a href="{% url 'myswsite:idea_create' %}">아이디어 등록</a></li>
                    <li><a href="{% url 'myswsite:devtool_create' %}">개발툴 등록</a></li>
                    <li><a href="{% url 'myswsite:devtool_list' %}">개발툴 관리</a></li>
                </ul>
            </div>
        </div>

        <div id="body">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            <div>피로그래밍 | 13기 | 14기 운영진 | 배인경</div>
            <div>
                중앙대학교 소프트웨어학과 소프트웨어학부 <br/>
                개발툴 왕창왕창창 늘리구 싶따아!
            </div>
        </div>
    </body>
</html>