#idea-wrap {
    display: block;
    flex-direction: column;
    
    box-shadow: 1px 1px 3px #cccccc;
    padding : 10px 0 0 0;
    width : 80%;
    margin : auto;
}

#idea {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}


#idea .image img {
    padding-top:10px;
    width : 500px;
    height: 330px;
    object-fit: contain;
}

#idea .text {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-left: 15px;
}

#idea .text div {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: white;
}

#idea .text .title {
    font-size: 30px;
    font-style:unset;
    text-decoration:underline;
    margin-bottom: 20px;
    color: #ff5722;
}

#idea .title, #idea .interest, #idea .devtool, #idea .content {
    margin : auto 1px;
    margin-right: 5px;
}

#idea div span {
    font-weight: 300;
    font-size : 16px;
    color: whitesmoke;
    text-decoration:underline;
    margin : 0px;
}

#idea .text .devtool {
    color: whitesmoke;
    
}


#idea .text .devtool a {
    color : #ff5722;
    text-decoration:none;
    font-weight: 700;
}

#idea .text .devtool a:hover {
    text-decoration: underline;
}

#readbuttons {
    display: flex;
    justify-content: space-evenly;
    width : 40%;
    margin : auto;
}

#readbuttons input {
    margin-top: 10px;
    padding: 7px 20px;
    font-family: "Noto Sans KR", sans-serif;
    
    font-size: 17px;
    
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    width: 100%;
}

#readbuttons input:hover {
    cursor: pointer;
}

#readbuttons form:nth-child(1) input 
{
    background: #ff5722;
    color : white;
}

#readbuttons form:nth-child(2) input {
    background: #FFF4EC;
    color : #2F4858;
}

#readbuttons .right form:nth-child(3) {
    margin-left: 5px;
}

#readbuttons form:nth-child(3) input {
    background: #80ffd3;
    color : #2F4858;
}